<html>
    <head>
        <title> Node js learning </title>
        <link href="assets/style.css" type="text/css" rel="stylesheet"/> 
    </head>
    <body>
        <h1> Person name: <%= name %> </h1>
        <h1> query: <%= query %> </h1>
    </body>
</html>